@page "/categoria/edit/{categoriaid:int}"
@inject HttpClient  http
@inject NavigationManager navigation

<h2>Editar categoria</h2>

<CategoriaForm Categoria="@categoria" OnValidSubmit="@EditCategoria" ButtonTextSubmit="Salvar" ButtonTextCacelar="Cancelar">
</CategoriaForm>

@code {

    [Parameter]
    public int categoriaid { get; set; }

    public Categoria categoria = new Categoria();

    protected async override Task OnParametersSetAsync()
    {
        categoria = await http.GetFromJsonAsync<Categoria>($"api/categoria/{categoriaid}");
    }

    public async Task EditCategoria()
    {
        await http.PutAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");
    }

}
